.navbar {
  background-color: #003459;
  color: #d9e9f5;

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #fff;
  }

  .nav-link {
    color: #fff;
  }

  .navbar-toggler {
    border-color: #d9e9f5;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23d9e9f5' viewBox='0 0 30 30'><path stroke='%23d9e9f5' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }

  ul {
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    li {
      margin-top: 20px;
      padding-left: 15px;

      a {
        color: #d9e9f5;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}